* {
	font-family: 'roboto slab', sans-serif;
}

body {
	background: #fffaf5;
	color: #111;
}

.toc {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	align-items: flex-start;
}

.by_initial {
	min-width: 300px;
	margin-left: 1em;
}

.by_initial:first {
	margin-left: 0;
}

.by_initial h3 {
	font-family: serif;
	font-size: 40px;
	font-style: italic;
	text-align: center;
}

@media only screen and (max-width: 900px) {

	body {
	    overflow-wrap: break-word;
	}

	article {
	    padding: 2em 0;
	    margin: 0 8px;
	}
}

@media only screen and (min-width: 900px) {

	article {
	    padding: 2em;
	    width: 50%;
	    min-width: 900px;
	    margin: 0 auto;
	}

}

article + article {
	margin-top: 2em;
}

article li + li, article ul li:first-child {
	margin-top: 0.5em;
}

a {
	color: #1b10db;
	font-family: monospace;
	text-decoration: none;
	border-bottom: 3px solid;
	text-decoration: none;
}

a:visited {
	color: #db4910;
}

em {
	background: #e9d6c4;
	padding: 4px;
}

h1 {
	border-bottom: 12px solid;
	padding-bottom: 26px;
	margin-bottom: 42px;
}

.container {
	margin: 0 auto;
}

p, li, code {
	font-size: 18px;
	line-height: 1.45;
}

pre {
	border: 1px solid #ccc;
	background: #fff;
	color: #111;
	overflow-x: auto;
	padding: 1em 1.4em;
}

code {
	font-family: 'ubuntu mono', monospace;
}

blockquote{
	background: #fff;
	color: 111;
	padding: 15px 20px 15px 45px;
	margin: 0 0 20px;

	box-shadow: 2px 2px 15px #ccc;

	border-left-style: solid;
	border-left-width: 15px;
	border-right-style: solid;
	border-right-width: 2px;
}
